* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
body {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;

    /* background: url(../img/agricultura2.jpg) no-repeat center fixed;
    background-size: cover;
    */
    background-image: url(../img/fondo2.png);
}
#form1 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#form1 ::-webkit-scrollbar {
    width: 1.5vh;
    background-color: #F5F5F5;
}

/*========================================*/
.divimglogo {
    align-items: center;
    height: 40vh;
    display: flex;
    justify-content: flex-end;
}
.imglogo {
    width: 40vh;
    height: 32vh;
    margin-right: 5vh;
    margin-top: 8vh;
}
.imgVent {
    width: 100vh;
    height: 57vh;
}
.FormActCue {
    grid-column: 5 /span 2;
    grid-row: 6/span 6;
    align-items: center;
}
.divflex{
    display:flex;
}
.FormFac {
    grid-column: 1 /span 7;
    grid-row: 2 /span 14;
}
.FormActConaRed {
    grid-column: 5 /span 2;
    grid-row: 3 /span 13;
}
.FormRecCont {
    display:flex;
    justify-content:center;
    grid-column: 5 /span 2;
    grid-row: 5 /span 7;
}
.FormRecContBut {
    display: flex;
    justify-content: center;
    grid-column: 5 /span 2;
    grid-row: 12 /span 2;
}
.FleJus{
    display: flex;
    justify-content: center;
}
/*============================================botones =========================================*/
.ButPag {
    cursor: pointer;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #616161;
    background-color: transparent;
    height: 4.5vh;
    width: 10.3vw;
    font-size: 1.5vw;
    margin-left:0.3vw;
}
.ButPagIni {
    margin:0;
    width: 15.3vw;
    background-color:white;
}
.ButNav {
    background-color: rgb(236, 236, 236);
}
/*============================================================================================*/
.formIni {
    justify-content: center;
    align-items: center;
}
.gridPri{
    display: grid;
    grid-template-columns:repeat(8,11vw);
    grid-template-rows:repeat(37,5vh);
}

.imgPro{
    width:45vh;
    height:30vh;
}
/*========================carrito de compra================================*/
.gridCar {
    display: grid;
    grid-template-columns: repeat(2,4vw);
   
    
}
.iconCar {
    width: 4vw;
    height: 6vh;
}


.carComp {
    position: absolute;
    right: 3vw;
    top: 51vh;
    width: 8vw;
    height: 85vh;
    z-index: 3;
}
.CarCont {
    text-align: center;
}
.carCompGri {
}
/*========================barra de navegacion y banner================================*/
.barNav {
    grid-column: 1 / span 9;
    grid-row: 1 / span 10;
    background-image: url(../img/imgfon.png);
    background-size: 100% 100%;


}
.barNavInt {
    display: flex;
    justify-content: flex-end;
    height: 5vh;
    width: 98.5vw;
    /*position: fixed;
    z-index: 3;
    background-image: url(../img/imgfonbarnav.png)*/
}


/*========================contenido================================*/
.formCont{
    grid-column: 2 ;
    grid-row : 8 /span 6;
}
.iconFot {
    width: 10vh;
    height: 10vh;
}
.headBan {
    grid-column: 1 / span 9;
    grid-row: 11 / span 18;
    z-index: 2;
    background-image:url(../img/fondo.png)
}
.scrollPro {
    grid-column:2/span 6;
    grid-row:1 /span 15;
}
.scroll {
    overflow-x: hidden;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar {
    width: 1.5vh;
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.scrollProAdmim {
    grid-column: 2/span 5;
    grid-row: 3 /span 13;
    overflow-x: hidden;
    overflow-y: scroll;
}


.formCent {
    grid-column: 2 /span 2;
    grid-row: 2 /span 14;

}

        /*---------------------------grids-------------------------*/
.gridCont {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(16,5vh);
    padding: 5vh;
    z-index:2;
}
.gridContPro {
    display: grid;
    grid-template-columns: repeat(6,12.7vw);
    grid-template-rows: repeat(13,5vh);
    padding: 5vh
}
        /*-----------------------aside-------------------------------*/
.aside {
    grid-column: 1 /span 9;
    grid-row: 10;

}

.imLog {
    width: 11vw;
    height: auto;
    left: 0vw;
}
/*--------------------formulario detalles compra --------------------*/
.fomTotPagDat {
    grid-column: 5 /span 2;
    grid-row: 2 /span 15;
}
.fomTotPag {
    grid-column: 2 /span 3;
    grid-row: 2 /span 15;
}
/*--------------------formulario mis compras--------------------*/
.formUsuMisCom {
    grid-column: 2 /span 5;
    grid-row: 2 /span 15;
    display: flex;
    justify-content: center;
}
.formUsuMisCom td{
    margin:10vh;
}

/*--------------------formulario actualizar datos usuario--------------------*/
.FormIniPag {
    grid-column: 3 /span 3;
    grid-row: 6 /span 3;
    text-align:center;
}

/*--------------------formulario actualizar datos usuario--------------------*/
.FormActUsu {
    grid-column:5 /span 2;
    grid-row: 2 /span 11;
}

.FormActUsuBut {
    grid-column:5 /span 2;
    grid-row: 15/span 2;
}

/*--------------------formulario inicio usuario--------------------*/
.FormIniUsuflex {
    display: flex;
    justify-content: center;
    grid-column: 2/span 5;
    grid-row: 4 /span 12;
}
.FormIniUsu {
    grid-column: 3 /span 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
}

.FormIniUsuBut {

}
.FormIniUsuButVen {

}
.FormIniUsuButComp {

}
.FormIniAdmMen {
}
/*--------------------formulario login--------------------*/
.FormLog {
    grid-column: 5 /span 2;
    grid-row: 6 /span 3;
}

.FormLogBut {
    grid-column: 5 /span 2;
    grid-row: 9;
}

.imgReg {
    height: 80vh;
    width: 40.4vw;
}
.contImglog {
    grid-column: 1 /span 3;
    grid-row: 1 /span 16;
}
.contImgReg {
    display:flex;
    justify-content:center;
    grid-column: 5 /span 3;
    grid-row: 1 /span 16;
}

/*--------------formulario agregar producto---------------*/
.formAgrPro {
    display: flex;
    justify-content:center;
    grid-row: 1 /span 2;
    grid-column: 1 /span 7;
}

.formAgrProbut {
    grid-row:3;
    grid-column: 6;
}

.formAgrProCon {
    padding-left: 6vw;
    display: flex;
    justify-content: flex-start;
    grid-row: 4 /span 12;
    grid-column: 1 /span 7;

}

/*------------cajas de texto--------------*/
.cajTxt {
    width: 33vh;
    height: 3vh;
    border-radius: 10%;
}

/*========================footer================================*/
.iconfoot{
    width:3vw;
    height:3vw;
}
.gridFoot {
    display: grid;
    grid-template-columns: repeat(9,11vw);
    grid-template-rows: repeat(9,5vh);
}

.butfoot{
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

.foot {
    grid-column: 1 / span 9;
    grid-row: 29 / span 9;
    background-image: url(../img/imgfonfoo.png);
    background-size: 100% 100%;

}

.menDer {
    text-align:center;
    grid-column: 4 /span 3;
    grid-row: 8/span 9;
}

.DatCon {
    text-align: center;
    grid-column: 1 /span 4;
    grid-row: 2 /span 5;
}

.IconRed {
    text-align: center;
    grid-column: 6 /span 4;
    grid-row: 2 /span 5;
}

/*==========================block===========================*/
.block {
    display: block;
    
}

/*==========================nativo asp===========================*/
.aspNetHidden{
    position:absolute;
}

/**========================*/
.error{
    background-color: #ff5252;
    color:white;
}

.ok{
    background-color: #34ace0;
    color: white;
}

/*==================================landingPage=====================================*/
.landPho{
    grid-column:1 /span 3;
    grid-row: 1 /span 17;
    text-align:center;
    
}

.landDes {
    grid-column: 4 /span 3;
    grid-row: 4 /span 11;
    text-align:right;
    
}

.comFun {
    grid-column: 4 /span 3;
    grid-row: 2 /span 2;
    text-align:center;

}

.imgPho {
    width: 19vw;
}

.iconLand {
    width: 5vw;
    margin-left: 1vw;
    margin-right: 3vw;
}

.iconLand2 {
    width: 5vw;
    margin-left: 1vw;
}

/*==================================titulos==============================*/
.titulo2 {
    font-size: 3vw;
    color: #616161;
}

/*.ribbon {
    width: 11vw;
    border-left: 4.3vw solid rgba(114,170,0,1);
    border-right: 4.3vw solid rgba(114,170,0,1);
    border-bottom: 5vh solid transparent;
    grid-column: 1/span 2;
    grid-row: 1 /span 4;
}*/
/*=======================================transparencia modal============================*/
.TraMen {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
    width: 100%;
    height: 185vh;
}

.ButCer {
    float: right;
    color: white;
    height: 6vh;
    width: 4vw;
    font-size: 2.2vw;
}
.cajTxtdrop {
    width: 31vh;
    height: 3.5vh;
    border-radius: 10%;
}